{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/a2lixdemotranslation/css/main.css') }}" />  
{% endblock %}

{% block body %}
    {% block flashMsg %}
    {% if app.session.flashbag %}
        <div id="flashMsg">
            {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
        </div>
    {% endif %}
    {% endblock %}

    {% block header %}
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">A2LiX</a>
            </div><!-- /.navbar-header -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <ul class="dropdown-menu">
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
            <div id="locales">
                Change locale :
                <ul>
                {% for locale in locales %}
                    <li {% if app.request.locale == locale %}class="active"{% endif %}>
                        <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : locale})) }}">{{ locale }}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </nav>
    </header>
    {% endblock %}
    
    <section class="main">
        {% block content %}{% endblock %}
    </section

    {% block footer %}
    <footer>
        A2LiX
    </footer>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/a2lixdemotranslation/js/main.js') }}"></script>
{% endblock %}