{% extends 'backend/layout.html.twig' %}

{% block title %}Product index{% endblock %}

{% block content %}
    <h1>Product index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Media</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('knp_backend_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.code }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.category ? product.category.title ~' ('~ product.category.company.title ~')' : 'No category' }}</td>
                <td>{{ product.media ? product.media.url : 'No media' }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('knp_backend_product_show', {'id': product.id}) }}">Show</a>
                    <a class="btn btn-outline-primary" href="{{ path('knp_backend_product_edit', {'id': product.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="record_actions">
        <a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('knp_backend_product_new') }}">Create new</a>
    </div>
{% endblock %}