{% extends "demo_translation/layout.html.twig" %}

{% form_theme editForm _self %}

{% block _company_translations_locale_title_widget %}
    {{- form_widget(form) -}}
    <p class="bg-info">Custom form rendering</p>
{% endblock %}

{% block content %}
    <h2>Company {{ entity.id ? 'Edition' : 'Creation' }}</h2>

    {{ form(editForm) }}

    <div class="record_actions">
        <a class="btn btn-default" href="{{ path('a2lix_backend_company') }}">
            Back to the list
        </a>
        {% if entity.id %}
            {{ form(deleteForm) }}
        {% endif %}
    </div>
{% endblock %}