{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block content %}
    <h1>{{ block('title') }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Title</th>
                <th>Description</th>
                <th>Categories</th>
                <th>Media</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companyColl %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.code }}</td>
                <td>{{ company.title }}</td>
                <td>{{ company.description }}</td>
                <td>{% for c in company.categories %}{{ c }}, {% else %}-{% endfor %}</td>
                <td>{{ company.media ?? '-' }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('backend_company_show', { id: company.id }) }}">Show</a>
                    <a class="btn btn-outline-primary" href="{{ path('backend_company_editMan', { id: company.id }) }}">Edit (man)</a>
                    <a class="btn btn-outline-primary" href="{{ path('backend_company_editAuto', { id: company.id }) }}">Edit (auto)</a>
                    <a class="btn btn-outline-primary" href="{{ path('backend_company_delete', { id: company.id }) }}">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="record_actions">
        <a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('backend_company_newMan') }}">Create new (man)</a>
        <a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('backend_company_newAuto') }}">Create new (auto)</a>
    </div>
{% endblock %}
