{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block content %}
    <h1>{{ block('title') }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Media</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in productColl %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.code }}</td>
                <td>{{ product.title ?? '-' }}</td>
                <td>{{ product.description ?? '-' }}</td>
                <td>{{ product.category ?? '-' }}</td>
                <td>{{ product.media ?? '-' }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('backend_product_show', { id: product.id }) }}">Show</a>
                    <a class="btn btn-outline-primary" href="{{ path('backend_product_editMan', { id: product.id }) }}">Edit (man)</a>
                    <a class="btn btn-outline-primary" href="{{ path('backend_product_editAuto', { id: product.id }) }}">Edit (auto)</a>
                    <a class="btn btn-outline-primary" href="{{ path('backend_product_delete', { id: product.id }) }}">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="record_actions">
        <a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('backend_product_newMan') }}">Create new (man)</a>
        <a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('backend_product_newAuto') }}">Create new (auto)</a>
    </div>
{% endblock %}