{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block content %}
    <h1>{{ block('title') }}</h1>

    <table class="table table-striped">
        <tbody>
            <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ product.code }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ product.category.render() ?? '' }}</td>
            </tr>
            <tr>
                <th>Media</th>
                <td>{{ product.media.render() ?? '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="record_actions">
        {{ form(deleteForm) }}
        <a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('backend_product_editMan', { id: product.id }) }}">Edit (man)</a>
        <a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('backend_product_editAuto', { id: product.id }) }}">Edit (auto)</a>
        <a class="btn btn-outline-primary btn-lg btn-block" href="{{ path('backend_product_index') }}">Back to list</a>
    </div>
{% endblock content %}