<!DOCTYPE html>
<html lang="{{ app.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="view-transition" content="same-origin" />
        <title>{% block title %}Home{% endblock %} - A2LiX</title>

        {% block stylesheets %}{% endblock %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    </head>

    <body>
        <header class="d-flex flex-column flex-md-row align-items-center p-3 fixed-top bg-dark text-white">
            <a href="/" class="h5 my-0 me-md-auto fw-normal">A2LiX</a>
            <twig:A2lixTranslationForm:LocaleSwitcher />
        </header>

        <main class="container" role="main">
            {{ include('_flash_messages.html.twig') }}

            {% block content %}{% endblock %}
        </main>

        <footer class="text-center bg-light text-dark border-top py-3">
            <p>A2LiX - {{ 'now'|date('Y') }} | <a href="{{ path('frontend_index') }}">Home</a></p>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
