{% extends "A2lixDemoTranslationKnpBundle:BackendCustom:layout.html.twig" %}

{% block content %}
    <h2>Product show</h2>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('knp_backend_product') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('knp_backend_product_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            {{ form(deleteForm) }}
        </li>
    </ul>
{% endblock %}