{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
{% endblock %}

{% block body %}
    {% block flashMsg %}
        {% if app.session.flashbag %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type|lower }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endblock %}

    {% block header %}
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">A2LiX Demo</a>
                </div>
                <div class="navbar-right">
                    {% include 'A2lixTranslationFormBundle:Util:localeSwitcher.html.twig' only %}
                </div>
            </div>
        </nav>
    </header>
    {% endblock %}

    <section class="main">
        {% block content %}{% endblock %}
    </section>

    {% block footer %}
    <footer>
        A2LiX - {{ 'now'|date('Y') }} | <a href="{{ path('a2lix_home') }}">A2lix Home</a> | <a href="{{ path('knp_home') }}">Knp Home</a>
    </footer>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('bundles/a2lixtranslationform/js/a2lix_translation_bootstrap.js') }}"></script>
{% endblock %}